{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RolloseImpresiones</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
     <link href="{% static 'css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
     <link href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://kit.fontawesome.com/3d27220b44.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">

        <img width="270" src="{% static '/img/Logo.png' %}">
        <ul class="right hide-on-med-and-down">

            <li><a href="{% url 'home' %}">INICIO</a></li>
             <li><a href="{% url 'blog' %}">BLOG</a></li>
            <li><a href="{% url 'servicios' %}">SERVICIOS</a></li>
            <li><a href="{% url 'contacto' %}">CONTACTANOS</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav" >
            <li><img width="270" src="{% static '/img/Logo.png' %}"></li>
            <li><a href="{% url 'home' %}">INICIO</a></li>
             <li><a href="{% url 'blog' %}">BLOG</a></li>
            <li><a href="{% url 'servicios' %}">SERVICIOS</a></li>
            <li><a href="{% url 'contacto' %}">CONTACTANOS</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class=" row parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
        </div>
    </div>
    <div class="parallax"><img width="35" src="{% static 'img/fondo2.jpg' %}" alt="Unsplashed background img 1" style="transform: translate3d(-50%, 199.87px, 0px); opacity: 1;"></div>
</div>

<!-- Contenido -->

{% block content %}

{% endblock %}

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light"></h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img width="35" src="{% static 'img/fondo1.jpg' %}" alt="Unsplashed background img 3" style="opacity: 1; transform: translate3d(-50%, 4.07998px, 0px);"></div>
</div>
<div class="fixed-action-btn">
    <a class="btn modal-trigger btn-floating btn-large green" href="https://wa.me/message/IFVIHLBP47AZH1"><i class="fab fa-whatsapp"></i></a>
</div>

<footer class="page-footer orange darken-4">
    <div class="container">
        <div class="row">
        <div class="col l12 s12">
            <h5 class="white-text">Rollos e Impresiones S.A. de C.V.</h5>
            <p class="grey-text text-lighten-4">Rollos e Impresiones SA de CV, es una empresa productora 100% mexicana, de rollos de papel Térmico, papel Bond y Autocopiante. Líder en el mercado con más de 15 años de experiencia. Garantizamos que el papel térmico está fabricado y diseñado para cumplir los requerimientos técnicos de los fabricantes de cabezales térmicos y también con los sistemas IBM, razón por la cual garantizamos la durabilidad de sus equipos.</p>


        </div>
            <div class="col l3 s12">

            </div>
            <div class="col l3 s12">

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://www.qsistemas.mx/index.html">Qsistemas S.A de C.V</a>
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static 'js/materialize.js' %}"></script>
<script src="{% static 'js/init.js' %}"></script>
<div class="sidenav-overlay"></div>
<div class="drag-target"></div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
     document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>
</body>

</html>