{% extends "base.html" %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="center-align">
            {% for blog in blogs %}
                <div class="col s4 m4 l4">
                    <h3 class="header">{{ blog.title_post }}</h3>
                    <div class="card horizontal">
                        <div class="card-image">
                            <img src="{{ blog.image.url }}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <h5>{{ blog.content }}</h5>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}