{% load static %}

<div class="container">

  <h4>CONTACTO</h4>
  <p>Calle Norte 59 No. 819-A. Colonia Industrial Vallejo Delegación Azcapotzalco. CP 02300.</p>
  <p>Ciudad de México</p>
  <p>Tel:  (55) 5784 8080/(55) 57848030</p>
    <div>
        <a href="https://www.google.com.mx/maps/place/Nte.+59+819,+Industrial+Vallejo,+02300+Ciudad+de+M%C3%A9xico,+D.F./@19.4902874,-99.1684698,17z/data=!3m1!4b1!4m2!3m1!1s0x85d1f85d3673677f:0x4603eef87fb8bf99">
            <img  width="100%" src="{% static 'img/mapa.JPG' %}" ></a>
    </div>
</div>

