{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            {% for servicio in servicios %}
            <div class="col s4 m12 l4">

                <div class="icon-block">
                    <h2 class="center deep-orange-text"><i class="material-icons">article</i></h2>
                    <h5 class="center">{{ servicio.title }}</h5>
                    <div class="center-align">
                    <p><img width="60%" src="{{ servicio.image.url }}"></p>
                    </div>
                    <h5 class="light">{{ servicio.content }}  </h5>
                </div>

            </div>
            {% endfor %}

        </div>

    </div>
</div>





{% endblock %}

