{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container">
    <div class="row">
         <div class="row center">

         </div>
        <div class="col s6 m12 l6 center">
            <iframe width="400" height="300" src="https://www.youtube.com/embed/Z9vXUSPElko" frameborder="0" allowfullscreen=""></iframe>
        </div>
        {% for pre in presentacion %}
            <div class="col s6 m12 l6">
            <h4>{{ pre.title }}</h4>
            <h6> {{ pre.content }} </h6>
        </div>
        {% endfor %}

    </div>
    </div>
{% endblock %}

