{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">Texto</h5>

                    <p class="light">Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
                    Texto Texto Texto Texto Texto Texto Texto Texto
                    Texto Texto Texto Texto Texto Texto  </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">TEXTO</h5>

                    <p class="light">Texto Texto Texto Texto Texto Texto Texto Texto Texto Texto
                    Texto Texto Texto Texto Texto Texto Texto Texto
                    Texto Texto Texto Texto Texto Texto </p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">TEXTO</h5>

                    <p class="light">Fer Fer Fer Fer Fer Fer Fer Fer Fer
                        Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer
                        Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer Fer
                        .</p>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}